# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Meming Bot
description: "Simple meme generator for telegram"
keywords: "meme, telegram, bot"
url: "https://memingbot.ml" # the base hostname & protocol for your site
permalink: none
comments: true
google_analytics: true
tracking_id: "UA-81231801-3"
google_site_verification: "C5DkIE_1Ak6dHUOw82afKBViJdJuKws_raV5xeVfLC0"
repository_url: "https://github.com/nikashitsa/meming-blog"

collections:
  meme-templates:
    output: true
    permalink: /meme-template/:title

defaults:
  -
    scope:
      path: ""
      type: "meme-templates"
    values:
      layout: "post"

# Build settings
markdown: kramdown
plugins:
  - jekyll-sitemap

compress:
  js: '/assets/js/*.js'
  css: '/assets/styles/*.css'
  img: '/assets/**/*.{jpg,png}'
