---
layout: default
---

{% assign perPage = 8 %}
{% assign memeTemplates = (site.meme-templates | sort: 'template_id') | reverse %}
<!-- infinity scroll script -->
<script>
$(function() {
    var memeTemplates = [{% for item in memeTemplates offset: perPage %}{
        title: '{{ item.title | replace: "'", "\\'" }}',
        url: '{{ item.url }}',
        template_id: '{{ item.template_id }}'
    },{% endfor %}];

    var perPage = {{ perPage }};
    var loadedNum = 0;
    var scrollThreshold = 300;
    var shouldLoad = false;

    var $previews = $('.js-previews');

    var $loadMoreBtn = $('.js-load-more');
    $loadMoreBtn.on('click', function(e) {
        e.preventDefault();
        loadMemeTemplates();
        $loadMoreBtn.remove();
        shouldLoad = true;
    });

    $(window).scroll(function() {
        if (!shouldLoad) return;

        var windowHeight = $(window).height(),
        windowScrollPosition = $(window).scrollTop(),
        bottomScrollPosition = windowHeight + windowScrollPosition,
        documentHeight = $(document).height();

        // If we've scrolled past the scrollThreshold, fetch memeTemplates
        if ((documentHeight - scrollThreshold) < bottomScrollPosition) {
            loadMemeTemplates();
        }
    });

    function loadMemeTemplates() {
        if (loadedNum >= memeTemplates.length) {
            shouldLoad = false;
            return;
        }
        for (var i = 0; i < perPage; i++) {
            var data = memeTemplates[loadedNum];
            if (!data) {
                break;
            }
            appendMemeTemplates(data);
            loadedNum++;
        }
    }

    function appendMemeTemplates(data) {
        var html = tmpl('tmpl-meme-template-preview', data);
        $previews.append(html);
    }
});
</script>

{% raw %}
<script type="text/x-tmpl" id="tmpl-meme-template-preview">
    <article class="meme-template-preview">
        <div class="meme-template-name">
            <a class="meme-template-link" href="{%#o.url%}">{%#o.title%}</a>
        </div>
        <a class="meme-template-thumb" href="{%#o.url%}">
            <img src="/assets/templates/{%#o.template_id%}/thumb.jpg" alt="{%#o.title%}">
        </a>
        <a href="https://t.me/memingbot?start={%#o.template_id%}" target="_blank" class="btn-add-meme">
            add template <i class="icon-paper-plane"></i>
        </a>
    </article>
</script>
{% endraw %}

<div class="about-container">
    <img class="profile-picture" src="/assets/img/ava.jpg">
    <hr>
    <p class="light italic small">Hi, I am a simple meme generator for <a href="https://telegram.org/">telegram</a>. This is how I do.</p>
    <hr>
    <div class="tutorial-wrapper">
        <video autoplay loop muted playsinline>
            <source src="/assets/tutorial/video.mp4" type="video/mp4">
            <source src="/assets/tutorial/video.webm" type="video/webm">
        </video>
    </div>    
    <p>
        Enter @memingbot, enter meme's text and I'll create a funny picture. <br>
        For example: <span class="highlight-span">@memingbot hello. bro!</span>
    </p>
    <a href="https://t.me/memingbot" target="_blank" class="btn-send-meme">
        send meme <i class="icon-paper-plane"></i>
    </a>
</div>

<section class="meme-template-list">
    <div class="container">
        <h1 class="page-heading">Meme Templates</h1>
        <ul class="js-previews">
            {% for item in memeTemplates limit: perPage %}
            <article class="meme-template-preview">

                <div class="meme-template-name">
                    <a class="meme-template-link" href="{{ item.url }}">{{ item.title }}</a>
                </div>
                <a class="meme-template-thumb" href="{{ item.url }}">
                    <img src="/assets/templates/{{ item.template_id }}/thumb.jpg" alt="{{ item.title }}">
                </a>
                <a href="https://t.me/memingbot?start={{ item.template_id }}" target="_blank" class="btn-add-meme">
                    add template <i class="icon-paper-plane"></i>
                </a>
            </article>
            {% endfor %}
        </ul>
        <a class="js-load-more" href="">LOAD MORE</a>
    </div>
</section>