---
layout: default
---

{% assign perPage = 8 %}
<!-- infinity scroll script -->
<script>
$(function() {
    var posts = [{% for post in site.posts offset: perPage %}{
        title: '{{ post.title | replace: "'", "\\'" }}',
        url: '{{ post.url }}',
        slug: '{{ post.slug }}',
        template_id: '{{ post.template_id }}'
    },{% endfor %}];

    var perPage = {{ perPage }};
    var loadedNum = 0;
    var scrollThreshold = 300;
    var shouldLoad = true;

    var $postPreviews = $('.js-post-previews');

    $(window).scroll(function() {
        if (!shouldLoad) return;

        var windowHeight = $(window).height(),
        windowScrollPosition = $(window).scrollTop(),
        bottomScrollPosition = windowHeight + windowScrollPosition,
        documentHeight = $(document).height();

        // If we've scrolled past the scrollThreshold, fetch posts
        if ((documentHeight - scrollThreshold) < bottomScrollPosition) {
            loadPosts();
        }
    });

    function loadPosts() {
        if (loadedNum >= posts.length) {
            shouldLoad = false;
            return;
        }
        for (var i = 0; i < perPage; i++) {
            var data = posts[loadedNum];
            if (!data) {
                break;
            }
            appendPost(data);
            loadedNum++;
        }
    }

    function appendPost(data) {
        var html = tmpl('tmpl-post-preview', data);
        $postPreviews.append(html);
    }
});
</script>

{% raw %}
<script type="text/x-tmpl" id="tmpl-post-preview">
    <article class="post-preview">
        <div class="post-name">
            <a class="post-link" href="{%#o.url%}">{%#o.title%}</a>
        </div>
        <a class="post-thumb" href="{%#o.url%}">
            <img src="/assets/templates/{%#o.slug%}/thumb.jpg" alt="{%#o.title%}">
        </a>
        <a href="https://t.me/memingbot?start={%#o.template_id%}" target="_blank" class="btn-add-meme">
            add template <i class="icon-paper-plane"></i>
        </a>
    </article>
</script>
{% endraw %}

<div class="about-container">
    <img class="profile-picture" src="/assets/img/ava.jpg">
    <hr>
    <p class="light italic small">Hi, I am a simple meme generator for <a href="https://telegram.org/">telegram</a>. This is how I do.</p>
    <hr>
    <video autoplay loop muted>
        <source src="/assets/tutorial/video.mp4" type="video/mp4">
        <source src="/assets/tutorial/video.webm" type="video/webm">
    </video>
    <p>
        Enter @memingbot, enter meme's text and I'll create a funny picture. <br>
        For example: <span class="highlight-span">@memingbot hello. bro!</span>
    </p>
    <a href="https://t.me/memingbot" target="_blank" class="btn-send-meme">
        send meme <i class="icon-paper-plane"></i>
    </a>
</div>

<section class="post-list">
    <div class="container">
        <h1 class="page-heading">Meme Templates</h1>
        <ul class="js-post-previews">
            {% for post in site.posts limit: perPage %}
            <article class="post-preview">

                <div class="post-name">
                    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                </div>
                <a class="post-thumb" href="{{ post.url }}">
                    <img src="/assets/templates/{{post.slug}}/thumb.jpg" alt="{{ post.title }}">
                </a>
                <a href="https://t.me/memingbot?start={{ post.template_id }}" target="_blank" class="btn-add-meme">
                    add template <i class="icon-paper-plane"></i>
                </a>
            </article>
            {% endfor %}
        </ul>
    </div>
</section>