<footer>
  <div class="container">
    <div class="left-column-footer">
      <p class="pull-left alignable">SUNINVEST D.O.O. &copy; {{ site.time | date: '%Y' }}</p>
    </div>
    <div class="right-column-footer">
      <p class="pull-right alignable">
        <a class="deactivate-link" href="/tos">Terms</a>
        | <a class="deactivate-link" href="/battle">Battle</a>
        | <a class="deactivate-link" href="https://t.me/memingbot_chat_en" target="_blank">Support</a>
        | <a class="deactivate-link" href="https://t.me/memingbot_en" target="_blank">Channel</a>
        | <a href="{{ site.repository_url }}"><i class="icon-github-circled"></i></a>
      </p>
    </div>
    <div style="clear: both"></div>
  </div>
  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.tracking_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.tracking_id }}');
  </script>
  {% endif %}
</footer>
